@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Administrador de Sazón</h1>
    <p class="lead">Sistema para la gestión de órdenes dentro de un restaurante, permite levantar la orden de un comensal, enviarla a generar a la sección de cocina, la confirmación de la misma y posteriormente la actualización para conocer el status de dicha orden.</p>
    <p>
        @Html.ActionLink("Conoce más...", "HowItWorks", "Home", null, new { @class = "btn btn-primary btn-lg" })
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Registrate</h2>
        <p>
            Con tu correo electrónico proporciona el password que tu quieras utilizar e inicia la configuración de los datos de tu restaurante.
        </p>
        <p>
            @Html.ActionLink("Registro", "Register", "Account", null, new { @class = "btn btn-success " })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Registra tu negocio</h2>
        <p>Proporciona la información de tu negocio, sucursales, mesas, servicios, platillos, tipos de cobro, promociones.</p>
        <p>
            @Html.ActionLink("Registra tu negocio", "Register", "Account", null, new { @class = "btn btn-info" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Registra tus ventas</h2>
        <p>Recibes tus ordenes por medio de Administrador de Sazón y comienza a dividir las cuentas de tus comensales, aplicar promociones, recibir pagos parciales por consumo y ve midiendo en tiempo real las ventas se han registrado.</p>
        <p>@Html.ActionLink("Inicia tus ventas", "Register", "Account", null, new { @class = "btn btn-info" })</p>
    </div>
</div>